* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.cabecera-index {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    height: 100px;
    border-bottom: solid 2px black;
    font-size: 1.5rem;
}

.contacto-header a{
    text-decoration: none;
    color:black;
}

.nombre-header, .contacto-header{
    font-size: 1.5rem;
}

.nombre-header a {
    text-decoration: none;
    color:black;
}

.listalinks-header {
    display:flex;
    gap:3rem;
    list-style: none;
}

.listalinks-header a {
    text-decoration: none;
    color: black;
}




                             /* body index*/

.seccion1-index {
    display:flex;
    align-items: center;
    margin: 3rem 8rem;
    justify-content:space-around;
    }

.texto-index {
    margin-top: 3rem;
    }

.titulo-index {
    padding-bottom:2rem;
    font-size: 52px;
    font-weight: bold;
    }

.introduccion-index {
    font-size: 22px;
    padding-right:1rem;
    }



.yo-foto {
    width:368px;
    height: 368px;
    border-radius: 50%;
    }

.enlaces-index {
    display:flex;
    padding:2rem;
    list-style:none;
    }

.enlaces-contacto {
    padding:40px;
    text-decoration:none;
    }

    .seccion2-index {
        display:flex;
        padding:64px;
        gap:10px;
        background-color: #EAF2FD; /* es celeste claro*/
        align-items: center;
        height: 383px ;
       }

       .texto-seccion2 {
        
        width:751px;
        margin-left:9rem;
       }

       .seccion2-titulo {
        font-size:30px;
        padding-bottom:10px;
       }

       .parrafo1-seccion2 {
        font-size: 20px;
        padding-bottom:10px;
       }

       .parrafo2-seccion2 {
        font-size: 20px;
        }





                       /*         SKILLS     */

        .body-skills {
            background-color: #F5F5F5; 
        }
                       
        .hobbies-skills {
            background-color: #F5F5F5;  
            margin-top: 50px;
        }

        .titulo-skills {
            display:flex;
            align-items: center;
            justify-content: center;
            padding-top:3rem;
            font-size: 3rem;
        }

        .div-imgs {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            gap:16px;
            margin: 2rem 12rem;

        }
        .skill-img {
            width:176px;
            height: 174px;
            border:solid 1px;
            gap:8px;
            }



                       /*               HOBBIES          */

        .hobbies {
            background-color: #F5F5F5;
        }

        .titulo-hobbies {
            display:flex;
            align-items: center;
            justify-content: center;
            padding-top:3rem;
            font-size: 3rem;
        }

        .div-hobbies {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            gap:16px;
            margin: 2rem 12rem;

        }
        .hobbie-img {
            width:176px;
            height: 174px;
            border:solid 1px;
            gap:8px;
            }




            /* Formación*/

.body-formacion {
    background-color: #EAF2FD; /* En realidad es celete claro*/
} 
.seccion-formacion {
    display:flex;
    flex-direction: column;
}

.titulo-formacion {
    display:flex;
    justify-content: center;
    font-size: 52px;
    padding: 20px;
    margin-top: 50px;
}

.card-formacion {
    display:flex;
    justify-content: center;
}

.card-design, .card-datos, .card-ux {
    margin-top: 50px;
    padding:30px;
    align-items: center;
    
}

.datos-content, .ux-content, .design-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.datos-img, .ux-img, .design-img {
    width:368px;
    height: 347px;
}



                                  /* PROYECTOS*/

.titulo-proyectos {
    display:flex;
    justify-content: center;
    padding:2rem;
    font-size: 3.5rem;
}

.seccion1-proyectos {
    display:flex;
    margin: 3rem;
    justify-content: space-around;
}


.codigosecreto {
    width:1000px;
}

.seccion1-tarjeta {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    
}

.seccion1-tarjeta p {
    font-size: 1.5rem;
    padding:0.5rem;
}

.seccion-botones {
    display:flex;
    padding:0.5rem;
    font-size: 1rem;
}


.boton-repositorio {
   font-size: 1.2rem;
   color: #2A7AE4;
   border:solid 1px #2A7AE4;
   border-radius: 10px;
   padding: 16px;
   margin: 10px;
  }

  .boton-demo {
    font-size: 1.2rem;
    background-color: #2A7AE4;
    color:white;
    border:solid 1px #2A7AE4;
    margin:10px;
    border-radius: 10px;
    padding: 16px;
   }




                   /* seccion 2*/




   .seccion2-proyectos {
    display:flex;
    justify-content: space-around;
    margin:2rem;
    margin-top: 6rem;
   }


   .seccion2-tarjeta {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
   }

   .seccion2-tarjeta p {
    padding:0.5rem;
   }



                        /* seccion 3*/


.seccion3-proyectos {
    display:flex;
    margin: 3rem;
    margin-top: 6rem;
    justify-content: space-around;
}


.codigosecreto {
    width:1000px;
}

.seccion3-tarjeta {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    
}

.seccion3-tarjeta p {
    font-size: 1.5rem;
    padding:0.5rem;
}

.seccion-botones {
    display:flex;
    padding:0.5rem;
    font-size: 1rem;
}


.boton-repositorio {
   font-size: 1.2rem;
   color: #2A7AE4;
   border:solid 1px #2A7AE4;
   border-radius: 10px;
   padding: 16px;
   margin: 10px;
  }

  .boton-demo {
    font-size: 1.2rem;
    background-color: #2A7AE4;
    color:white;
    border:solid 1px #2A7AE4;
    margin:10px;
    border-radius: 10px;
    padding: 16px;
   }




                   /*     seccion 4      */


.seccion4-proyectos {
    display:flex;
    margin: 3rem;
    margin-top: 6rem;
    justify-content: space-around;
}


.codigosecreto {
    width:1000px;
}

.seccion4-tarjeta {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    
}

.seccion4-tarjeta p {
    font-size: 1.5rem;
    padding:0.5rem;
}

.seccion-botones {
    display:flex;
    padding:0.5rem;
    font-size: 1rem;
}


.boton-repositorio {
   font-size: 1.2rem;
   color: #2A7AE4;
   border:solid 1px #2A7AE4;
   border-radius: 10px;
   padding: 16px;
   margin: 10px;
  }

  .boton-demo {
    font-size: 1.2rem;
    background-color: #2A7AE4;
    color:white;
    border:solid 1px #2A7AE4;
    margin:10px;
    border-radius: 10px;
    padding: 16px;
   }




                  /*       contacto      */

.seccion1-contacto {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-contacto {
    margin:3rem;
}

.imagen-contacto {
    width: 464px;
    height: 630px;
}





.todo-contacto {
    flex-direction: column;
    padding-left:1.5rem;
}

.textos-contacto {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo-contacto {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.titulo-contacto {
    font-size: 2.5rem;
}

.texto-contacto {
    font-size: 1.2rem;
}

.formulario {
    display:flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    justify-content: flex-start;
    
}

.email, .text, .nombre {
    width:656px;
    height:56px;
    margin-bottom: 1rem;
}

.mensaje {
    width: 656px;
    height:133px;
    margin-bottom: 1.5rem;
}

.boton-enviar {
    display: inline-flex;
    padding: 15px;
    font-size: 1rem;
    background-color: #2A7AE4;
    color:white;
    border:none;
    justify-content: flex-start;
    width:144px;
    
}